#navbar {
  background: #111233;

  .mini-menu {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #bcc9ff;
    padding-bottom: 0;
    text-align: right;
    margin: 0;

    p {
      padding-bottom: 0;
      margin-bottom: 0;

      a {
        color: #111233;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }

  .span3 {
    display: flex;
    float: none;
    width: auto;
  }

  a#logo {
    padding: 10px;
    background-color: #fff;
    transform: scale(1.8);
    box-shadow: 0 5px 10px #00000026;
    color: #fff;
    width: auto;
    max-width: none;
    display: block;
    line-height: 22px;
    font-size: 22px;
    letter-spacing: -1px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;

    img {
      height: 40px;
      text-indent: -9999px;
      max-width: none;
      width: auto;
      margin-bottom: 0;
      display: block;
    }
  }
}

@media only screen and (min-width: 992px) {
  #header-outer {
    #logo {
      margin-top: 18px;
      margin-bottom: 18px;
      position: relative;
    }
  }
}
