<section id="home" class="mt-5">
    <div class="container pt-4">
        <h1>Labor cost repot</h1>
        <div class="row">
            <div class="col-10">
                <table class="table table-sm data-table" [ngClass]="activeSortColumn.toLowerCase().replace(' ','-')">
                    <thead class="mb-3">
                        <th [class.active]="activeSortColumn === 'PAYROLL PROVIDER'"
                            [ngClass]="{'asc': sortByNameAsc === true , 'desc' : sortByNameAsc === false }"
                            (click)="activeSortColumn = 'PAYROLL PROVIDER'; sortByName(sortByNameAsc = !sortByNameAsc)">
                            <span>PAYROLL PROVIDER </span>
                        </th>
                        <th [class.active]="activeSortColumn === 'WORKER'"
                            [ngClass]="{'asc': sortAsc === true , 'desc' : sortAsc === false }"
                            (click)="activeSortColumn = 'WORKER';sortByKey('workerCount',sortAsc = !sortAsc)">

                            <span>WORKER</span>
                        </th>
                        <th>
                            <span>COMPILANCE SCORE</span>
                        </th>
                        <th [class.active]="activeSortColumn === 'GROSS PAY'"
                            [ngClass]="{'asc': sortAsc === true , 'desc' : sortAsc === false }"
                            (click)="activeSortColumn = 'GROSS PAY';sortByKey('labourCostTotal',sortAsc = !sortAsc)">
                            <span> GROSS PAY (£) </span>


                        </th>
                        <th>
                            <span> PAYROLL ADMIN (£) </span>
                        </th>
                        <th [class.active]="activeSortColumn === 'LABOR COST'"
                            [ngClass]="{'asc': sortAsc === true , 'desc' : sortAsc === false }"
                            (click)="activeSortColumn = 'LABOR COST';sortByKey('grossPayTotal',sortAsc = !sortAsc)">
                            <span> LABOuR COST (£) </span>
                        </th>
                        <th [class.active]="activeSortColumn === 'WORKFORCE'"
                            [ngClass]="{'asc': sortAsc === true , 'desc' : sortAsc === false }"
                            (click)="activeSortColumn = 'WORKFORCE';sortByKey('grossPayTotal',sortAsc = !sortAsc)">
                            <span> WORK-FORCE </span>
                        </th>
                    </thead>
                    <tbody [@listAnimation]="providersList.length">
                        <tr class="mb-2" *ngFor="let item of providersList">
                            <td [class.active]="activeSortColumn === 'PAYROLL PROVIDER'">
                                {{item.name}}
                            </td>
                            <td class="upper-size" [class.active]="activeSortColumn === 'WORKER'">
                                {{item.workerCount}}
                            </td>
                            <td>
                                {{item.complianceStats ? (item.complianceStats.Total| number: '1.0-0' ): 0 }} %
                            </td>
                            <td class="upper-size" [class.active]="activeSortColumn === 'GROSS PAY'">
                                {{(item.grossPayTotal / 100)| number: '1.0-0'}}
                            </td>
                            <td>
                                -
                            </td>
                            <td class="upper-size" [class.active]="activeSortColumn === 'LABOR COST'">
                                {{(item.labourCostTotal / 100)| number: '1.0-0' }}
                            </td>
                            <td [class.active]="activeSortColumn === 'WORKFORCE'" >
                                {{calculatePercentage(item.labourCostTotal)}} %
                            </td>

                        </tr>
                        <tr class="total" *ngIf="dataList.total">
                            <td>
                                TOTAL
                            </td>
                            <td class="upper-size"> {{dataList.total[0].workerCount}} </td>
                            <td> {{dataList.total[0].complianceStats ? (dataList.total[0].complianceStats.Total| number:
                                '1.0-0' ): 0 }} %</td>
                            <td class="upper-size"> {{(dataList.total[0].grossPayTotal / 100)| number: '1.0-0'}} </td>
                            <td> - </td>
                            <td class="upper-size"> {{(dataList.total[0].labourCostTotal / 100)| number: '1.0-0' }}
                            </td>
                            <td> 100 % </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>


</section>